/* common */

body {
  margin: 0;
}

h1,
p {
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: block;
  width: 500px;
  background-color: #329e00;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 0;
  font-weight: bold;
  margin: 24px auto 0;
}



/* header */

header {
  background: #efefef;
  padding: 16px 0;
  padding-bottom: 0;
}

header .container {
  width: calc(100% - 32px);
  margin: 0 auto;
  text-align: center;
}

header h1{
  padding: 62px;
}

header p {
  padding-bottom: 24px;
  line-height: 1.6;
}



/* main */

section .container {
  width: calc(100% - 320px);
  margin: 0 auto;
}

section h1 {
  text-align: center;
  padding: 32px 0;
}

.bun {
  line-height: 4;
}

main {
  padding-bottom: 24px;
}
/* footer */

footer {
  padding: 64px;
  text-align: center;
  background: #efefef;
}
